.header {
  border: 1px solid black;
}

.header .search {
  margin: 10px;
}

.main {
  border: 1px solid black;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.content {
  border: 1px solid blue;
  margin: 10px;
  height: 100px;
}

/* 반응형 미디어 쿼리 */
@media screen and (max-width: 800px) {
  .search {
    display: none;
  }
  .main {
    grid-template-columns: repeat(3, 1fr);
  }
}
